Repository firstof9/ha-gasbuddy, pull requests merged in 2024-09, with the labels that each got.

#68 feat: add cash prices if available
  .github/FUNDING.yml
  custom_components/gasbuddy/const.py
  custom_components/gasbuddy/entity.py
  custom_components/gasbuddy/manifest.json
  custom_components/gasbuddy/sensor.py
  pylintrc
  requirements.txt
  tests/const.py
  tests/test_init.py
  tests/test_sensor.py
Labels: feature

#71 fix: do not change name entry from config flow
  .github/workflows/test.yml
  custom_components/gasbuddy/config_flow.py
  custom_components/gasbuddy/sensor.py
  tests/test_config_flow.py
Labels: bugfix

#73 fix: regression in sensor.py
  custom_components/gasbuddy/sensor.py
Labels: bugfix

#78 fix: convert canadian prices from cents per liter to dollars per liter
  custom_components/gasbuddy/sensor.py
  tests/conftest.py
  tests/const.py
  tests/test_sensor.py
Labels: bugfix

#85 feat: create pt.json for translations
  custom_components/gasbuddy/translations/pt.json
Labels: enhancement

#87 feat: only have `standard` fuels and `credit` prices enabled by default
  custom_components/gasbuddy/__init__.py
  custom_components/gasbuddy/const.py
  tests/test_init.py
  tests/test_sensor.py
Labels: feature, breaking-change

#88 feat: add `E85` and `UNL88` fuel types
  custom_components/gasbuddy/const.py
  tests/const.py
  tests/test_sensor.py
  tox.ini
Labels: feature

#89 fix: error with async_migrate_entry
  custom_components/gasbuddy/__init__.py
Labels: bugfix

#91 feat: add station logo to entity picture
  custom_components/gasbuddy/const.py
  custom_components/gasbuddy/sensor.py
  tests/const.py
  tests/test_sensor.py
Labels: feature

#92 feat: add french translation
  custom_components/gasbuddy/translation/fr.json
Labels: enhancement
