Repository firstof9/ha-gasbuddy, pull requests merged in 2025-08, with the labels that each got.

#157 fix: update `validate_station` function
  custom_components/gasbuddy/config_flow.py
Labels: bugfix

#161 feat: add reconfigure for existing entries
  custom_components/gasbuddy/__init__.py
  custom_components/gasbuddy/config_flow.py
  custom_components/gasbuddy/sensor.py
  tests/conftest.py
  tests/const.py
  tests/test_config_flow.py
  tests/test_sensor.py
Labels: feature

#160 fix: allow single-word hostnames for solver
  custom_components/gasbuddy/config_flow.py
  tests/test_config_flow.py
Labels: needs-tests
